# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:8080" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000"  # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# DATABASE
DB_HOST="Database hostname"
DB_PORT="5432" # Database port
DB_USER="Database user"
DB_PASSWORD="Database password"
DB_NAME="Database name"

# JWT
JWT_SECRET="superclave-extensa-y-aleatoria"
JWT_EXPIRES_IN="1h"
JWT_REFRESH_SECRET="clave-refresh-mas-larga-y-aleatoria"
JWT_REFRESH_EXPIRES_IN="7d"

SALT_ROUNDS="10" # Password hashing rounds
